<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb408274831162376</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.135193995470-ajo0t4pkm1sn9r6q73n812j0vvfkvv4n</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FacebookAppID</key>
	<string>408274831162376</string>
	<key>FacebookClientToken</key>
	<string>57fb269e0ebb7d138bf1e38f2a197a16</string>
	<key>FacebookDisplayName</key>
	<string>MNWSDK</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>zalo</string>
		<string>fb</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqqopensdkapiV4</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>hasgplus4</string>
		<string>com.google.gppconsent</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>mnb</string>
		<string>mqqopensdkminiapp</string>
		<string>fb-messenger-api</string>
	</array>
</dict>
</plist>
